<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="barcode" version="0.1.0">

    <js-module src="www/barcode.js" name="Barcode">
        <clobbers target="cordova.plugins.barcode" />
    </js-module>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/barcodeProxy.js" name="BarcodeProxy">
            <merges target="" />
        </js-module>
        <resource-file src="src/windows/libs/x86/DynamsoftBarcodeReaderx86.dll" target="DynamsoftBarcodeReaderx86.dll" arch="x86" reference="true" />
        <resource-file src="src/windows/libs/x86/DynamicPdf.dll" target="DynamicPdf.dll" arch="x86" reference="true" />
        <resource-file src="src/windows/libs/x86/vcomp110.dll" target="vcomp110.dll" arch="x86" reference="true" />
        
        <framework src="src/windows/libs/x86/BarcodeComponent.winmd" target-dir="x86" arch="x86" custom="true"/>
        <framework src="src/windows/libs/x86/Dynamsoft.winmd" target-dir="x86" arch="x86" custom="true"/>
        <hook src="hooks/windows/copy-dlls.js" type="after_plugin_add"/>
    </platform>
</plugin>